@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: linear-gradient(236.85deg, #2c0052 27.26%, #8d0aff 96.03%);
    font-family: 'Press Start 2P';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    background: #f3f3f3;
    color: #000000;
    margin: 6vh;
    border-radius: 20px;
    padding: 6vh;
    max-width: 180vh;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    max-width: 900vh;
}

.cabecalho .perfil {
    display: flex;
}

.cabecalho .perfil .perfil-foto {
    border-radius: 50%;
    max-height: 21vh;
    box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.25);
}

.cabecalho .perfil .titulo {
    text-align: center;
}

.cabecalho .perfil .titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.cabecalho .perfil .titulo h3 {
    font-weight: 300;
    font-size: 21px;
}

.cabecalho .tema button {
    align-self: flex-end;
    font-size: 24px;
    padding: 8px 16px;
    background: #f3f3f3;
    border-radius: 100px;
}

.cabecalho .tema button:hover {
    background: linear-gradient(230.65deg, #4e1f49 27.49%, #b35faa 83.19%);
    color: #f3f3f3;
}

.container main .projetos {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: center;
    background: linear-gradient(230.65deg, #4e1f49 27.49%, #b35faa 83.19%);
    margin-top: 32px;
    padding: 32px;
    box-shadow: 3px 3px 6px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
}

main .projetos .projetos-titulo {
    font-size: 36px;
}

main .projetos .projetos-item {
    font-size: 24px;
    line-height: 48px;
}

main .projetos .projetos-item a {
    color: #1c1c1c;
}

main .projetos .projetos-item a h3:hover {
    transform: scale(1.1);
}

main .projetos .projetos-item .codepen {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 1em 0;
    padding: 1em;
}

.dark {
    background: linear-gradient(236.85deg, #6d00cc 27.26%, #a947ff 96.03%);
}

.dark .container {
    background: #333439;
    color: #f6f6f6;
}

.dark .projetos {
    color: #1c1c1c;
}

.dark .tema button {
    background: #1c1c1c;
    color: #f6f6f6;
    border: 2px solid #f7f7f7;
}

.dark .tema button:hover {
    background: linear-gradient(230.65deg, #291227 27.49%, #3f1e3c 83.19%);
}

.dark .container main .projetos {
    background: linear-gradient(230.65deg, #291227 27.49%, #3f1e3c 83.19%);
    color: #f6f6f6;
}

.dark .container main h3 {
    color: #f6f6f6;
}

@media screen and (max-width: 800px) {
    .perfil {
        flex-direction: column;
    }

    .perfil-foto {
        align-self: center;
        max-width: 30vw;
        max-height: 30vh;
    }

    .cabecalho .perfil .titulo h1 {
        font-size: 3vh;
    }

    .cabecalho .perfil .titulo h3 {
        font-size: 1.5vh;
    }

    .cabecalho .tema button {
        max-width: 20vw;
        max-height: 20vh;
        font-size: 1.9vh;
    }

    main .projetos .projetos-titulo {
        font-size: 3vh;
    }

    main .projetos .projetos-item a h3 {
        font-size: 1.5vh;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin: 1vh;
        padding: 0.9vh;
    }

    .container .cabecalho .tema {
        display: flex;
        justify-content: flex-start;
    }

    .container .cabecalho .tema button {
        align-self: flex-start;
        padding: 8px 8px;
        max-width: 20vw;
        max-height: 20vh;
        font-size: 1.1vh;
    }

    .perfil-foto {
        align-self: center;
        max-width: 30vw;
        max-height: 30vh;
    }

    .cabecalho .perfil .titulo h1 {
        font-size: 1.5vh;
    }

    .cabecalho .perfil .titulo h3 {
        font-size: 1vh;
    }

    main .projetos .projetos-titulo {
        font-size: 1.5vh;
    }

    main .projetos .projetos-item a h3 {
        font-size: 1vh;
    }

    .container main .projetos {
        padding: 9px;
    }
}
