@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
    font-family: 'Press Start 2P', cursive;
}

.container {
    background: #ecf4ff;
    color: #000000;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0e1d2f;
    padding: 64px;
    max-width: 980px;
}

.container .cabecalho {
    display: flex;
    justify-content: space-between;
}

.perfil {
    display: flex;
}

.perfil-foto {
    border-radius: 460px;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.25);
}

.titulo {
    margin-left: 16px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 300;
    font-size: 21px;
}

.tema button {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 16px;
    background: #ecf4ff;
    border-radius: 100px;
}

.projetos {
    display: flex;
    flex-direction: column;
    align-items: right;
    background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
    margin-top: 32px;
    padding: 32px;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
}

.projetos-titulo {
    list-style: none;
    font-weight: 700;
    font-size: 36px;
}

.projetos-item {
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
}

.projetos-item a {
    color: #1c1c1c;
    text-decoration: none;
}

.dark {
    background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
    background: #333439;
    color: #f6f6f6;
}

.dark .projetos {
    color: #1c1c1c;
}

.dark .tema button {
    background: #1c1c1c;
    color: #f6f6f6;
    border: 2px solid #f7f7f7;
}

@media (max-width: 800px) {
    body {
        font-family: none;
        font-size: 60%;
    }

    .cabecalho {
        max-width: 100%;
    }
    .perfil {
        max-width: 60%;
    }

    .perfil-foto {
        max-width: 60%;
        max-height: 40%;
    }

    .tema button {
        max-width: 60%;
        max-height: 30%;
    }

    main {
        max-width: 100%;
    }
}

@media (max-width: 750px) {
    body {
        font-family: none;
        font-size: 50%;
    }

    .perfil {
        max-width: 60%;
    }

    .perfil-foto {
        max-width: 30%;
        max-height: 30%;
    }
}

@media (max-width: 660px) {
    body {
        font-family: none;
        font-size: 40%;
    }

    .perfil {
        max-width: 40%;
        font-size: 10%;
        flex-direction: column;
    }

    .perfil-foto {
        max-width: 60%;
        max-height: 40%;
    }

    .tema button {
        max-width: 60%;
        max-height: 30%;

        font-size: 15px;
        text-align: center;
    }
}
