body {
  font-family: 'Roboto Mono', monospace;
  min-height: 400px;
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/2612212-cadernos-sao-empilhados-sobre-a-mesa-xicaras-de-cafe-e-canetas-estao-sobre-isso-ilustracoes-desenho-estilo-desenhado-a-mao-vetor.jpg');
  background-color: #fef2f2;
  background-size: 60vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #000000;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #000000;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
